*{
    font-weight:700;
}

h1{
    font-family:Impact;
    text-align:center;
}

#btn1{
    font-family:Impact;
}

li a{
    font-weight:100;
    font-size:18px;
}

li:hover{
    background: rgba(33,37,41);
    border-radius:5px;
}

a{
    color:black !important;
}

li:hover > a{
    color:white !important;
}