*{
    font-weight:700;
}

#carousel{
    border:solid rgb(222,226,230);
    border-width:1px;
    border-radius:7px;
    width:80%;
    height:450px;
    margin-left: auto;
    margin-right: auto;
}

#carousel img{
    height:448px;
    border-radius:7px;
    object-fit: cover;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index:9;
    background:white;
  }

h1{
    font-family:Impact;
    text-align:center;
}

#btn1{
    font-family:Impact;
}

li a{
    font-weight:100;
    font-size:18px;
}

button{
    background:white;
}

li > button{
    border:0px;
    border-style:initial;
    border-radius:5px;
    color:rgba(33,37,41) !important;
}

#btn1:hover{
    color:white !important;
}

li:hover > button{
    background: rgba(33,37,41);
    color:white !important;
}